.btn {
  -webkit-appearance: button;
  font-weight: 400;
  width: 50%;
  float: right;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-primary {
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:active {
  background-color: #286090;
  border-color: #204d74;
}