.form-w {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

.container {
    padding-top: 1vh;
    display: grid;
}

.half-left {
  grid-column: 1;
}
  
.half-right {
  grid-column: 2;
}

.fa-star {
    width: 28px !important;
    height: 28px !important;
}